<div fxLayout="row wrap" fxLayoutAlign="center center" class="content-box animated zoomIn delay-1s faster">
  <div fxFlex.gt-xs="80" fxFlex="90" class="box-payment">
    <div class="content-icon animated zoomIn faster">
      <mat-icon class="animated fadeInUp faster">clear</mat-icon>
    </div>
    <h1>Pago no recibido</h1>
    <sub><h2>Lo sentimos su pedido no se ha completado con éxito.</h2></sub>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-divider></mat-divider>
    </div>
    <p>En breve sera redirigido a nuestra tienda.</p>
  </div>
</div>
